/* DEBUG */



/* FINE DEBUG */



.btn {
    border-radius: 2rem;
}


/* HEADER */
header div {
    height: 50px;
}

header nav {
    height: 100px;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-light {
    background-color: white !important;
}

/* .dropdown-toggle::after {
    content: url('../img/chevron-down-solid.svg') !important;
} */



/* MAIN */
main {
    margin-top: 150px;
}

.btn-danger {
    background-color: rgb(205, 61, 15) !important;
}

#no-thumb-jumbotron h2,
#jumbotron h2 {
    font-size: 5rem;
}

/* Jumbotron */
.container-carousel-jumbotron {
    height: 80vh;
}

.upper-jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbotron h1 {
    font-size: 5rem !important;
}

.container-jumbotron-thumbnails img {
    border-radius: 2rem;
}


/* Products */
#products header,
.container-products-thumbnails {
    margin-top: 6rem;
}

/* No-thumb-Jumbotron */
#no-thumb-jumbotron .upper-jumbotron {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Nuove Uscite */
#nuove-uscite img {
    border-radius: 3rem;
}

/* Plus */
.bg-secondary {
    background-color: rgb(190, 188, 187) !important;
}

.btn-secondary {
    border-color: rgb(190, 188, 187) !important;
}

/* Now */
#now .container-fluid {
    background-color: rgb(22, 28, 59);
}


/* FOOTER */

/* Bottom-footer */
#bottom-footer .container-fluid {
    min-height: 500px;
    background-color: rgb(0, 67, 156);
}