/* DEBUG */



/* FINE DEBUG */


.btn {
    border-radius: 2rem;
}

/* HEADER */
header div {
    height: 50px;
}

header nav {
    height: 100px;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-light {
    background-color: white !important;
}


/* MAIN */
main {
    margin-top: 150px;

}

/* section {
    padding-bottom: 3rem;
} */

.btn-danger {
    background-color: rgb(205, 61, 15) !important;
}

/* Jumbotron */
.container-carousel-jumbotron {
    height: 80vh;
}

.upper-jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbotron h1 {
    font-size: 5rem !important;
}

.container-jumbotron-thumbnails img {

    border-radius: 2rem;

}

/*da risolvere: thumbnails si rimpiccioliscono troppo*/

/* Products */
#products header {
    margin-top: 8rem;
}

/* #products .testo {
    padding-top: 20rem !important;
} */

.container-products-thumbnails .row img {
    width: 150px;
}