/* DEBUG */

header div {
    height: 50px;
}



/* FINE DEBUG */


.btn {
    border-radius: 2rem;
}

/* HEADER */
.btn-dark {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-light {
    background-color: white !important;
}


/* MAIN */

/* Jumbotron */
#jumbotron {
    height: 80vh;
    position: relative;
}

#jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbotron img {
    width: 100%;
    border-radius: 3rem;
    /*da risolvere: img col si rimpiccioliscono troppo*/
}

#jumbotron .row {
    position: absolute;
    bottom: -22rem;
    /*da risolvere*/
}